@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin breakpoint-down($max-lg) {
  @media only screen and (max-width: $max-lg) {
    @content;
  }
}

@mixin breakpoint-up($max-xs) {
  @media only screen and (max-width: $max-xs) {
    @content;
  }
}

@mixin before-after ($bg-repeat: no-repeat, 
                     $bg-size: contain,
                     $inline-block: inline-block, 
                     $widths: 300px, 
                     $heights: 100px 
                     ) {
  content: "";
  background-repeat: $bg-repeat;
  background-size: $bg-size;
  display: $inline-block;
  width: $widths;
  height: $heights;
}

@mixin font-body ($ft-family: $font-body,
                  $ft-weight: 400,
                  $ft-size: 16px,
                  $ft-color: #000) {
  
  font-family: $ft-family;
  font-weight: $ft-weight;
  font-size: $ft-size;
  color: $ft-color;
}

@mixin font-roboto ($ft-family: $font-roboto,
              $ft-weight: 400,
              $ft-size: 16px,
              $ft-color: #000) {
  
  font-family: $ft-family;
  font-weight: $ft-weight;
  font-size: $ft-size;
  color: $ft-color;
}

@mixin card-hover {
  overflow: hidden;
  position: relative;

  &::after{
    content: "";
    display: inline-block;
    width: 150%;
    height: 80%;
    position: absolute;
    top: -75%;
    right: 32%;
    background: #ffffff26;
    transform: skewY(-50deg);
    transition: all .35s ease;  
  }
  &:hover{
    &::after{
      top: 120%;
      right: -75%;
      transition: all .35s ease;  
    }
    
  }
}