// CONTAINER 
$container-width: 1240px;
$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;
$max-lg: 1200px;

// COLORS
$color-b00000: #b00000;
$bg-color: #fff;

// FONTS
$font-body:'sans', sans-serif;
$font-inter:'inter', sans-serif;