.desc {
  padding: 75px 0;

  &__list {
  }

  &__item {
  }

  &__img {
    margin-bottom: 13px;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    color: #222;
    margin-bottom: 13px;
  }

  &__text {
    font-size: 13px;
    font-weight: 700;
    color: #666;
    margin-bottom: 13px;
    padding: 0 50px;
  }
}
